<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Movie list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<style th:inline="css">
.myStyle {
	background-color: #A9A9A9;
}
</style>

</head>
<body class="myStyle">
	<h2>
		<span th:text="${genre.name}"></span>
	</h2>

	<a th:href="@{/movielist}" class="btn btn-info">To the Movielist</a>
	<a th:href="@{/directorlist}" class="btn btn-info">To the
		Directorlist</a>
			<a th:href="@{/login}" class="btn btn-info">Login</a>
	<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/logout}" method=
	"post" >
	<input type="submit" value="Sign Out" class="btn btn-info"/>
	</form>
	<div class="table-responsive">
		<table class="table table-bordered table-active">
			<thead class="thead-dark">
				<tr>
					<th>Movie name</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="movie : ${movies}">
					<td th:text="${movie.name} "></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>


